    body {
        font-family: "Bodoni Moda", serif;
        margin: 0;
        color: #091235;
        background-color: antiquewhite;
        background-image: url("/images/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        background-color: #091235;
        background-size: cover;
        background-position: center;
        color: antiquewhite;
        font-size: 35px;
        text-align: left;
        padding: 50px 20px;
    }

    .logo {
        transition: all 0.5s ease;
    }

    .logo:hover {
        color: white;
        font-size: 3.5em;
    }

    @keyframes button {
        0% { color: #88a9c3; font-size: 16px; }
        100% { color: white; font-size: 20px; }
    }

    .button {
        color: antiquewhite;
        border-radius: 5px;
        font-size: 25px;
        transition: all 1s;  /* Add a transition for smooth reversal */
        text-decoration: none;
    }

    .button:hover {
        color: white;
        font-size: 30px;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        margin-bottom: 10px;
    }

    #loginButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
    }

    #login {
        font-family: "Bodoni Moda", serif;
        color: antiquewhite;
        font-size: 20px;
        padding: 3px 25px;
        background: none;
        transition: all 1s;
    }

    #login:hover {
        color: white;
        font-size: 25px;
    }

    #register {
        font-family: "Bodoni Moda", serif;
        color: antiquewhite;
        font-size: 20px;
        padding: 3px 25px;
        background: none;
        transition: all 1s;
    }

    #register:hover {
        color: white;
        font-size: 25px;
    }

    main {
        padding: 20px;
        align-content: center;
        text-align: center;
    }

    #frames {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .about {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        width: auto;
    }

    #title {
        color: #091235;
        font-size: 20px;
        transition: all 3s;
        padding: 100px;
        margin-bottom:50px;
    }

    #title h2 {
        margin-bottom: 0; /* Remove the bottom margin of the h2 element */
    }

    #title p {
        margin-top: 0; /* Remove the top margin of the p element */
    }

    .about img {
        width: 300px;
        transition: all 2s;
        border-radius: 10px;
    }

    .about img:hover {
        width: 500px;
        transition: all 2s;
    }

    .parallax img {
        border: 4px solid #091235; /* Add a 5px solid border with color #091235 */
    }

    .tarina {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .parallax:hover .tarina {
        opacity: 1;
    }

    #lore {
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        width: auto;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 150px;
    }

    .parallax {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-attachment: fixed;
        background-size: cover; /* Ensure entire viewport is covered */
        background-position: center; /* Center the background */
        min-height: 600px; /* Ensure content stretches the section */
        transition: transform 0.5s, background-image 1.2s ease-in-out, opacity 1.2s; /* Transition for transform and opacity */
        opacity: 1; /* Elements start invisible */
        margin-bottom: 50px;
    }

    #frame1.parallax {
        background-image: url('/Images/restaurant1.jpg');
    }

    #frame2.parallax {
        background-image: url('/Images/restaurant1.jpg'); /* Background image for frame2 */
    }

    #frame3.parallax {
        background-image: url('/Images/restaurant1.jpg'); /* Background image for frame3 */
    }
    /* Add styles for navigation, about, menu, gallery, reservations, footer */
