html, body {
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
  font-family: "Old Standard TT", serif;
    margin: 0;
    color: #091235;
    background-color: antiquewhite;
    position: relative;
    opacity: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../images/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
        z-index: -1;
    }

    body.fade-out {
        transition: opacity 0.5s ease-out;
        opacity: 0;
    }

    body, header, main, footer {
        transition: all 0.5s ease-in-out;
    }

    header {
        background-color: #091235;
        background-size: cover;
        background-position: center;
        color: antiquewhite;
        font-size: 20px;
        text-align: left;
        padding: 50px 20px;
        box-sizing: border-box;
        z-index: 2;
        grid-row: 1;
    }

    .logo {
        font-family: "Bodoni Moda", serif;
        transition: all 0.5s ease;
        z-index: 2;
    }

    .logo:hover {
        color: white;
        transform: scale(1.1);
    }

    .button {
        color: antiquewhite;
        border-radius: 5px;
        font-size: 20px;
        transition: all 1s;
        text-decoration: none;
        z-index: 2;
    }

    .button:hover {
        color: white;
        font-size: 22px;
    }

    h1 {
        font-size: 3em;
        margin: 0;
        z-index: 2;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        margin-bottom: 10px;
    }

    #loginButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
        z-index: 2;
    }

    #login {
        font-family: "Old Standard TT", serif;
        color: antiquewhite;
        font-size: 15px;
        padding: 3px 25px;
        background: none;
        transition: all 1s;
        border-radius: 20px;
        margin-right: 5px;
        border: 2px solid antiquewhite;
    }

    #login:hover, #register:hover {
        color: white;
        border-color: white;
        transform: scale(1.1);
    }

    #register {
        font-family: "Old Standard TT", serif;
        color: antiquewhite;
        font-size: 15px;
        padding: 3px 25px;
        border: 2px solid antiquewhite;
        transition: all 1s;
        border-radius: 20px;
    }

    main {
        padding: 20px;
        align-content: center;
        text-align: center;
        flex-grow: 1;
        grid-row: 2;
    }

    #frames {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .about {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        width: auto;
    }

    #title {
        font-family: "Bodoni Moda", serif;
        color: #091235;
        font-size: 20px;
        transition: all 3s;
        padding: 100px;
        margin-bottom:50px;
    }

    #title h2 {
        margin-bottom: 0;
    }

    #title p {
        margin-top: 0;
    }

    .about img {
        width: 300px;
        transition: all 2s;
        border-radius: 10px;
    }

    .about img:hover {
        width: 400px;
        transition: all 2s;
    }

    .parallax img {
        border: 4px solid #091235;
    }

    .tarina {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .parallax:hover .tarina {
        opacity: 1;
    }

    #lore {
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        width: auto;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 150px;
        z-index: 2;
    }

    .parallax {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        min-height: 600px;
        transition: transform 0.5s, background-image 1.2s ease-in-out, opacity 1.2s;
        opacity: 1;
        margin-bottom: 50px;
        z-index: 2;
    }

    #frame1.parallax {
        background-image: url('/Images/restaurant1.jpg');
    }

    #frame2.parallax {
        background-image: url('/Images/restaurant1.jpg');
    }

    #frame3.parallax {
        background-image: url('/Images/restaurant1.jpg');
    }

    footer  {
        height: 80px;
        background-color: #091235;
        color: antiquewhite;
        text-align: center;
        padding: 1px;
        font-size: 20px;
        z-index: 2;
        grid-row: 3;
    }

.current-page {
  color: #7ba0d9;
  text-decoration: underline;
}

#reservationsDialog {
  font-family: "Old Standard TT", serif;
  background-color: antiquewhite;
  border-radius: 5px;
  color: #091235;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#reservationsDialog h2 {
  font-family: "Bodoni Moda", serif;
  margin-top: 0;
}

#reservationsDialog div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#reservationsDialog button {
  font-family: "Old Standard TT", serif;
  background-color: #091235;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#reservationsDialog button:hover {
  background-color: #1e2d63;
}

#closeDialogButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

#userBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#userBox p {
  margin-right: 10px;
  color: #333;
}

#userBox button {
  margin-left: 10px;
}

#logoutButton, #viewReservationsButton {
  font-family: "Old Standard TT", serif;
  background-color: #e6d7c3;
  color: #091235;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#logoutButton:hover, #viewReservationsButton:hover {
  background-color: #d0c0ac;
}
