body {
  font-family: "Old Standard TT", serif;
  background-color: antiquewhite;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container div {
  flex: 1 0 100%;
  margin: 10px;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 599px) {
  .juomat div {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .container div {
    flex: 1 0 45%;
  }
}

@media (min-width: 900px) {
  .container div {
    flex: 1 0 21%;
  }
}

.container p {
  margin: 0 0 10px 0;
  color: #666;
}

.container input[type="checkbox"] {
  margin-top: 10px;
}

.container h1, .container h2 {
  margin: 0 0 10px 0;
  color: #333;
}

.ruoat, .juomat {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ruoat h1, .juomat h1 {
  font-size: 2em;
  color: #333;
}

.ruoat div, .juomat div {
  display: flex;
  flex-direction: column;
  border: 1px solid #897f6d;
  padding: 10px;
  margin: 10px 0;
}

.juomat {
  max-height: 80vh;
  overflow-y: auto;
}

.juomat div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  overflow: auto;
}

.container input[type="checkbox"] {
  width: 25px;
  height: 25px;
  color: #09133b;
}

.container input[type="checkbox"]:checked {
  background-color: #09133b;
}

button {
  font-family: "Old Standard TT", serif;
  display: block;
  width: 100%;
  max-width: 200px;
  height: 40px;
  margin: 20px auto;
  background-color: #897f6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #e6d7c3;
}
