.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ruoka {
  display: flex;
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
}

.juoma {
  display: flex;
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
}
